---
layout: default
title: "Animations - Finn Gras"
---

<h2>Animation</h2>


<h3>Short film</h3>
<p>Made at the end of my first year studying animation at HKU Utrecht.</p>
<video controls width="700">
    <source src="/assets/media/bigger-fish-compressed.mp4">
</video> 
<h3>Animations with sound</h3>
<video controls width="700">
    <source src="/assets/media/potion-seller.mp4">
</video> 
<video controls width="700">
    <source src="/assets/media/alley-cat.mp4">
</video> 
<video controls width="700">
    <source src="/assets/media/cube-light.mp4">
</video> 
<video controls width="700">
    <source src="/assets/media/lip-sync-limmy.mp4">
</video> 
<video controls width="700">
    <source src="/assets/media/sketchman.mp4">
</video> 
<h3>GIF's</h3>
{% include column-gallery.html file="gallery-ani-shorts" %}
<h3>Multi-media turnaround</h3>
{% include flex-gallery.html file="gallery-person-rotate" %}