---
layout: default
title: "Games - Finn Gras"
---

<h2>Games</h2>


<h3>The Murder of Dale Decker</h3>
<p> A game prototype I made in two weeks with the help of my classmates Jesper Vlietstra (3D modeling) 
    & Miles Dinjens (texture painting & concept art). I did all the programming, the music and some of the art. 
    In this game you find yourself in an office with nothing but a dead body. It is your task te figure out what happened. 
    By typing in words on your keyboard you reveal objects present at the crimescene, slowly uncovering clues about the scene of the murder. </p>

{% include flex-gallery.html file="gallery-tmodd" %}

<p>Check out the game on itch.io!</p>
<iframe frameborder="0" src="https://itch.io/embed/2532734" width="552" height="167" style="max-width: 100%""><a href="https://finngras.itch.io/the-murder-of-dale-decker">The Murder of Dale Decker by Finn Gras</a></iframe>
<br>
<br>
<br>
<br>

<h3>Clayworld</h3>
<p>A weird little demo project I started working on a year ago, using photogrammetry scans of clay for the objects and characters. 
    The artsyle was very fun to work with, and I'm applying it to my next project which is currently in early development.</p>
{% include flex-gallery.html file="gallery-clayworld" %}

<h3>Climbing the Peak</h3>
<img src="/assets/media/ctp/title.png" width="400" style="  margin-left: auto; margin-right: auto;">
<p>My first game I made as a school solo project back in 2020. A simple precision platformer inspired by Hollow Knight.</p>
{% include flex-gallery.html file="gallery-ctp-ani" %}
<p>You play as a mountain climber, on it's way to climb a large mountain called the Peak. 
    Along the way you'll encounter many steep ledges and tricky platforming, so watch out! 
    Unlock tools and upgrades to help you on jour journey. Reach the summit, and come face to face with the King of the Peak.</p>

<p>This game is currently not available online, so enjoy these screenshots instead!</p>
{% include flex-gallery.html file="gallery-ctp-ss" %}