<div class="menu">
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/chopped-man.png">
        <h3>animations</h3></div>
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/styleframe.png">
        <h3>illustrations</h3></div>
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/KING.png">
        <h3>games</h3></div>
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/Grease pencil practice 2.png">
        <h3>music</h3></div>
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/shirt-alien.png">
        <h3>projects</h3></div>
    <div class="menu-item">
        <img class="menu-img" src="/assets/media/favicon.png">
        <h3>contact</h3></div>
</div>         
<img src="/assets/media/fuzzball_touchup.png"> 