$black: #251609;
$white: #FFFFF0;
$main-dark: #503521;
$main-mid: #ad6743;
$main-light: #FCDBA6;
//$grey-dark: #3b3b3b;
$grey-dark: rgb(49, 58, 70);
$grey-mid: #929292;
$grey-light: #dadada;
//$accent-dark: #3C5D4D; 
//$accent-mid: #67BF90;
//$accent-light: #D4F1B1;
$accent-dark: #3c565d; 
$accent-mid: #67b2bf;
$accent-light: #b1f1ec;