#top-button {
    display: none; /* Hidden by default */
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 30px; 
    padding: 15px; 
    border-radius: 15px; 
    font-size: 30px;
    color: $white;
    background-color: $accent-mid;
    cursor: pointer;
    text-decoration: none;
}

#top-button:hover {
    background-color: $accent-dark;
}